#octopus {
	position: absolute;
	margin-right: 50%;
	margin-left: 50%;
	margin-top: 50px;
	z-index: 1;
}

#hat {
	position: absolute;
	left: 560px;
	z-index: 2;
}

#glasses {
	position: absolute;
	top: 160px;
	left: 620px;
	z-index: 3
}