#octopus {
	position: absolute;
	margin-left: 477px;
	margin-right: 200px;
	margin-top: 50px;
	z-index: 1;
}

#hat {
	position: absolute;
	left: 460px;
	z-index: 2;
}

#glasses {
	position: absolute;
	top: 160px;
	left: 520px;
	z-index: 3
}